/FAtec/ex05/nbproject/private/
/FAtec/ex05/build/
/FAtec/ex02/nbproject/private/
/FAtec/ex02/build/
/FAtec/ex01/nbproject/private/
/FAtec/ex01/build/
/FAtec/ex04/nbproject/private/
/FAtec/ex04/build/
/FAtec/ex001/nbproject/private/
/FAtec/ex001/build/
/FAtec/DM20212/nbproject/private/
/FAtec/DM20212/build/
/FAtec/dm20212m/nbproject/private/
/FAtec/dm20212m/build/
/FAtec/dm20212m/dist/
/FAtec/ex04-L02/nbproject/private/
/FAtec/ex04-L02/build/
/FAtec/ex05L02/nbproject/private/
/FAtec/ex05L02/build/
/FAtec/ex03L02/nbproject/private/
/FAtec/ex03L02/build/
/FAtec/ex02L02/nbproject/private/
/FAtec/ex02L02/build/
/FAtec/ex01L02/nbproject/private/
/FAtec/ex01L02/build/
/cursoemvideo/SomaSwing/nbproject/private/
/cursoemvideo/SomaSwing/build/
/FAtec/ex03L03/nbproject/private/
/FAtec/ex03L03/build/
/FAtec/ex01L03/nbproject/private/
/FAtec/ex01L03/build/
/FAtec/ex02L03/nbproject/private/
/FAtec/ex02L03/build/
/FAtec/ex04L03/nbproject/private/
/FAtec/ex04L03/build/
/FAtec/ex05L03/nbproject/private/
/FAtec/ex05L03/build/
/FAtec/BrinquedoRobo/nbproject/private/
/cursoemvideo/ParImpar/nbproject/private/
/cursoemvideo/ParImpar/build/
/cursoemvideo/NumeroPernas/nbproject/private/
/cursoemvideo/NumeroPernas/build/