/FAtec/ex05/nbproject/private/
/FAtec/ex05/build/
/FAtec/ex02/nbproject/private/
/FAtec/ex02/build/
/FAtec/ex01/nbproject/private/
/FAtec/ex01/build/
/FAtec/ex04/nbproject/private/
/FAtec/ex04/build/
/FAtec/ex001/nbproject/private/
/FAtec/ex001/build/
/FAtec/DM20212/nbproject/private/
/FAtec/DM20212/build/
/FAtec/dm20212m/nbproject/private/
/FAtec/dm20212m/build/
/FAtec/dm20212m/dist/